# Environment variables
.env
.env.local
.env.*.local

# Go binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/bin/
/dist/
cmd/api/tmp/

# Go module cache
vendor/

# Terraform
infra/terraform/.terraform/
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup
infra/terraform/*.tfvars

#K8s
secrets.yaml

# IDE
.idea/
.vscode/
*.swp
*.swo

# Frontend
www/node_modules/
www/dist/
www/.cache/
node_modules/

# OS
.DS_Store
Thumbs.db
